.courses-sumary{
  background-color:black;
  color: white;
  padding: 30px 200px;
}
.courses-sumary .MuiTypography-h4 {
  line-height: 2 !important;
}
.courses-sumary .MuiTypography-h6 {
  line-height: 1.5 !important;
}
.courses-sumary .MuiTypography-subtitle1 {
  line-height: 1.75 !important;
}